div {
  width: 250px;
  height: 250px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}